.content-creator-class {
    width: 400px;
    height: 490px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    box-sizing: border-box;
    color: #ddd;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.content-creator-class:hover {
    transform: scale(1.02);
}

.content-creator-buttons {
    display: flex;
    gap: 1rem;
    padding-left: 90px;
    height: 40px;
}

.creator-name {
    font-weight: bold;
    color: rgb(53, 134, 201);
    font-size: x-large;
}